@font-face {
  font-family: Nunito;
  src: url("../src/fonts/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf");
}

@import "tailwindcss";

.container {
  width: 100%;
  max-width: 1290px;
}

@theme {
  --color-bg-primary: #273142;
}
